# n8n auth
API_KEY = "string_value"

# AWS auth
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_access_key
AWS_DEFAULT_REGION=default_region
S3_BUCKET=media_bucket_name
S3_PREFIX=media_render_name

# Drive auth
GOOGLE_SERVICE_ACCOUNT_JSON=json_file_path
GOOGLE_OAUTH_CLIENT_SECRET_JSON=json_client_secret_file_path
GDRIVE_RENDER_FOLDER_ID=folder_id